@import url(https://fonts.googleapis.com/css2?family=Bahianita&family=Roboto+Condensed&display=swap);

/* CSS */
.letter {
  display: flex;
  align-self: center;
  background-color: #A4A89F;
  background-image: none;
  background-position: 0 90%;
  background-repeat: repeat no-repeat;
  background-size: 4px 3px;
  border-radius: 15px 225px 255px 15px 15px 255px 225px 15px;
  border-style: solid;
  border-width: 2px;
  box-shadow: rgba(0, 0, 0, .2) 15px 28px 25px -18px;
  box-sizing: border-box;
  color: #ffffff;
  cursor: pointer;
  /* display: inline-block; */
  font-family: 'Bahianita', sans-serif;
  font-size: 1.5rem;
  line-height: 23px;
  outline: none;
  padding: .75rem;
  text-decoration: none;
  transition: all 235ms ease-in-out;
  border-bottom-left-radius: 15px 255px;
  border-bottom-right-radius: 225px 15px;
  border-top-left-radius: 255px 15px;
  border-top-right-radius: 15px 225px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  border-color: #638da8;
  margin: 2px;
}

.letter:hover {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 8px -5px;
  transform: translate3d(0, 2px, 0);
}

.letter:focus {
  box-shadow: rgba(0, 0, 0, .3) 2px 8px 4px -6px;
}

.letter[disabled] {
  opacity: 0.3;
  animation: none;
  border-color: inherit;
  cursor: not-allowed;
}
/* hangman container formatting */

.hangman-container div{
  display: flex;
  flex-wrap: wrap;
  column-gap: 5%;
  padding: 40px;
  background-color: #354a20;
  border-radius: 20px/30px;
  border: 5px solid #595126;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
}
.hangman-container p{
  text-align: center;
  font-family: 'Bahianita', sans-serif;
  font-size:xx-large;
  letter-spacing: 1px;
}
