@import url(https://fonts.googleapis.com/css2?family=Bahianita&family=Roboto+Condensed&display=swap);
/* Define styles for the carousel container */
.carousel {
  display: flex;
  flex-direction: column;
  grid-area: 2/3/5/4;
  height: 78vh;
  border: 3px solid black;
  margin-right: 10px;
  margin-left: 4px;
  scroll-snap-type: x mandatory;
  gap: 10px;
  overflow-y: auto;
  background: #b4d2bf;
  padding: 10px;
}

.carousel::-webkit-scrollbar {
  width: 0px;
}

.carousel::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
}

.carousel::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.carousel-card {
  display: flex;
  flex-direction: column;
  background-color: #354a20;
  color: white;
  margin: auto;
  margin-left: 3px;
  margin-right: 3px;
  align-items: center;
  font-family: 'Bahianita', sans-serif;
  font-size: large;
  margin-top: 6px;
  padding: 10px;
  justify-content: space-evenly;
  text-transform: uppercase;
  letter-spacing: 1px;
  height: 100px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.carousel-card h3 {
  padding-left: 8px;
}

.carousel-card button {
  color: black;
    font-weight: bold;
    transition: transform 0.2s ease;
    justify-content: space-evenly;
      text-transform: uppercase;
        border-radius: 10px;
        padding: 2px 2px;
        font-size: x-small;
}

.carousel-card button:hover {
  transform: translateY(-10px);
  transform-origin: center;
}

.carousel h2{
  margin-bottom: 10px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-family: 'Bahianita', sans-serif;
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.75rem;
  color: white;
}