@import url(https://fonts.googleapis.com/css2?family=Bahianita&family=Roboto+Condensed&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&display=swap);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css);

.park-card {
  position: relative;
  grid-area: 1/2/5/3;
  width: 70%;
  place-self: center;
  height: 75%;
  border: 5px ridge #354A20;
  overflow: auto;
}

.shown {
  visibility: visible;
  background-color: #A9C4A6;
  /* overflow-y: auto; */
}
.park-card div{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
  background-color: #A6C4D4;
  font-family: 'Bahianita', sans-serif;
  letter-spacing: 1px;
  border-bottom: 3px solid #BD6315;
}
.shown h3 {

}
.shown h1{
  float: left;
  margin-block-start: 0.3em;
  margin-block-end: 0.3em;
}

.card-img {
  height: auto;
  width: 80%;
  margin: 5px auto;
  border: 3px ridge #BD6315;
  display: flex;
}

.content {
  margin-right: 15px;
  margin-left: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  max-height: 100%;
  overflow-y: auto;
  font-family: 'Open Sans', serif;
}
.content p{
  margin: 5px;
  max-height: 100%;
}

.park-card::-webkit-scrollbar {
  width: 0px;
}

.park-card::-webkit-scrollbar-thumb {
  background: transparent;
  border: 2px solid transparent;
  border-radius: 4px;
}

.park-card::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.2);
}

.description {
  font-size: small;
}

.card-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 10px/20px;
  transition: all .2s ease;
  background: #354A20;
  border: 3px outset #BD6315;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: xx-small;
  padding: 7px;
  height: auto;
  width: auto;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
}

.card-button:hover {
  border-radius: 10px/20px;
  background: rgb(33, 58, 27);
  border: 3px inset rgb(86, 144, 58);
  cursor: pointer;
}

.fa-tree {
  position: relative;
  align-items: center;
  transition: all .2s ease;
}

.fa-tree.tree-1 {
  font-size: 14px;
}

.fa-tree.tree-2 {
  transition-delay: .07s;
  font-size: 14px;
}
.card-button:hover .fa-tree {
  top: 3px;
  transform: rotate(20deg)
}

/* shimmer effects and special effects */
.shown {
  --color1: #f0e2b5;
  --color2: #b4d2bf;
}

.shown:hover {
  box-shadow:
    -20px -20px 30px -25px var(--color1),
    20px 20px 30px -25px var(--color2),
    -7px -7px 10px -5px var(--color1),
    7px 7px 10px -5px var(--color2),
    0 0 13px 4px rgba(255, 255, 255, 0.3),
    0 55px 35px -20px rgba(0, 0, 0, 0.5);
}

.shown.active:before,
.shown:hover:before {
  animation: none;
  background-image: linear-gradient(110deg,
      transparent 25%,
      var(--color1) 48%,
      var(--color2) 52%,
      transparent 75%);
  background-position: 50% 50%;
  background-size: 250% 250%;
  opacity: .88;
  filter: brightness(.66) contrast(1.33);
  transition: none;
}
