@import url(https://fonts.googleapis.com/css2?family=Bahianita&family=Roboto+Condensed&display=swap);

ul {
  margin: 0px;
  padding: 0px;
}

li {
  list-style-type: none;
  margin: 0px;
}

h2 {
  margin: 0px;
  height: 40px;
}

h3 {
  margin: 0px;
}

div {
  border-radius: 5px;
}

.wrapper {
  display: grid;
  grid-template-rows: 3fr 1fr 8fr 8fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  grid-gap: 8px;
  z-index: -1;
  background-color: #F0E2B5;
}

.header {
  display: flex;
  grid-area: 1/1/2/4;
  height: 10vh;
  align-items: center;
  margin-top: 10px;
  font-family: 'Bahianita', sans-serif;
  font-size: 1.75rem;
  color: white;
  border-radius: 0px;
}

.map {
  grid-area: 3/2/5/3;
  border: 3px inset rgb(33, 58, 27);
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.rules {
  grid-area: 3/1/5/4;
}

.game-info {
  display: flex;
  flex-direction: column;
  grid-area: 2/1/5/2;
  max-height: 78vh;
  border: 3px solid black;
  margin-left: 10px;
  background-color: #354a20;
  color: white;
  overflow: auto;
  padding: 10px;
  font-size: 0.75rem;
}

.game-info h2{
  text-align: center;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 2.75rem;
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-area: 2/1/5/4;
  padding-right: 10%;
  padding-left: 10%;
  margin-top: auto;
  margin-bottom: auto;
  height: 103%;
  background-color: #F0E2B5
}

.game h2 {
  font-size: 2rem;
}

.game button {
  font-size: 1.25rem;
}

.game-title {
  display: flex;
  width: 80vw;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

/* .nav-link {
  display: flex;
  grid-area: 2/2/3/3;
  height: 4vh;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 0px;
  justify-content: space-evenly;
} */

.main-container {
  display: flex;
  grid-area: 3/2/4/3;
  height: 74vh;
  max-width: 65vw;
}

/* .carousel {
  display: flex;
  flex-direction: column;
  grid-area: 2/3/5/4;
  height: 78vh;
  border: 3px solid black;
  margin-right: 10px;
  margin-left: 4px;

} */
  /* background-color: #354a20;
} */

.footer {
  display: flex;
  grid-area: 5/1/6/4;
  height: 3vh;
}

.title-container {
  display: flex;
  flex-direction: row;
}

.nps-logo {
  display: flex;
  max-height: 90px;
  max-width: 65px;
  margin: 10px;
  /* box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5); */
}

.title {
  display: flex;
  margin-left: 10px;
  align-self: center;
}

.point-container {
  display: inherit;
  margin-left: auto;
  margin-right: 10px;
}

.nav-buttons {
  grid-area: 2/2/3/3;
  display: flex;
}

.nav-buttons a {
  display: inherit;
  align-items: center;
}

.book {
  grid-area: 3/1/5/4;
  margin-top: 0px;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  margin-right: 15%;
  margin-left: 15%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.book select, input {
  border-radius: 5px;
}

.search-form {
  display: inherit;
  flex-direction: row;
  display: inherit;
  flex-direction: column;
  border: 2px solid black;
  padding: 8px;
  height: 14%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: rgb(197, 108, 57);
  border-radius: 5px;
}

.search-list-sort {
  display: inherit;
  flex-direction: row;
  height: 50%;
  border-bottom: 3px solid black;
  padding-bottom: 5px;
}

.search-list-sort div {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
}

.search-list-sort input, select {
  display: block;
  margin: 5px;
  width: 150px;
}

.search-list-sort label {
  margin-right: 8px;
}

.filters-container {
  display: flex;
  flex-direction: row;
  padding: 2px;
  margin-top: 6px;
  height: 50%;
  align-items: center;
  justify-content: space-evenly;
}

.filters-container div{
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin-left: 8px;
}

.filters-container select {
  margin-left: auto;
  margin-right: auto;
  width: 175px;
}

.filters-container label {
  margin-left: 2.5%;
}

.book-bottom {
  display: inherit;
  height: 80%;
  column-gap: 8px;
}

.park-list {
  display: inherit;
  flex-direction: column;
  row-gap: 3px;
  overflow: auto;
  max-height: 500px;
  flex: 1;
}

.park-li {
  display: inherit;
  flex-direction: column;
  border: 2px solid black;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: rgb(197, 108, 57);
}

.park-info {
  display: inherit;
  flex-direction: row;
  margin: 4px;
}

.park-li img {
  display: flex;
  flex-direction: column;
  width: 130px;
  height: 100px;
  justify-content: center;
  margin-right: 8px;
  border-radius: 5px;
}

.info-container {
  display: flex;

}

.info-container span {
  width: 100%;
}

.park-li li {
  display: inherit;
  flex: 1;
  margin-top: 2px;
  margin-bottom: 2px;
}

.park-li-stats {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
}

.park-article h2 {
  padding-top: 7px;
  padding-left: 6px;
}

.button-container {
  display: flex;
  justify-content: flex-end;
}

.button-container button {
  margin: 5px;
}

.bottom-row {
  display: flex;
  flex-direction: row;
  margin-top: 3.5%;
}

.icon-container {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
}

.react-icon {
  display: flex;
  color: darkslategrey;
  bottom: 10%;
  box-shadow: inset;
  margin-left: 5px;
  margin-right: 5px;
}

.single-icon-container {
  display: inherit;
  flex-direction: row;
  flex-grow: 1;
}

.fave-icon {
  display: inherit;
  align-content: center;
}

.park-li p {
  margin: 0px;
  margin-bottom: 2px;
  color:darkslategray;
}

.park-article {
  display: inherit;
  flex-direction: column;
  row-gap: 3px;
  max-height: 500px;
  flex: 1;
  overflow: auto;
}

.article-header {
  display: inherit;
  border: 2px solid black;
  height: 10%;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: rgb(197, 108, 57);
}

.article-header h2 {
  display: inherit;
  width: 100%;
}

.park-article .single-icon-container {
  display: inherit;
  text-align: right;
  margin-right: 3px;
}

.park-article .single-icon-container p {
  margin: 0px;
}

.article-top {
  display: inherit;
  border: 2px solid black;
  justify-content: space-between;
  height: 45%;
  padding: 10px;
  box-shadow: 5px 5px 10px 0px rgba(0, 0, 0, 0.5);
  background: rgb(197, 108, 57);
  overflow: auto;
}

.article-stats {
  display: inherit;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  row-gap: 3px;
}

.article-stats img {
  width: 200px;
  border-radius: 5px;
}

.article-stats h4 {
  margin: 0px;

}

.park-article.park-card {
  display: inherit;
  width: 43%;
}

.map-card {
  display: inherit;
  width: 43%;
  align-items: center;
  justify-content: center;
}

.article-bottom {
  display: inherit;
  border: 2px solid black;
  height: 45%;
  padding: 3px;
  background: rgb(197, 108, 57);
}

.article-buttons {
  display: inherit;
  flex-direction: row;
  justify-content: space-between;
  padding: 2px;
}

.article-bottom {
  display: inherit;
  flex-direction: column;
}

.article-bottom button {
  width: 30%;
  text-align: center;
}

.info-container {
  display: inherit;
  flex-direction: row;
  overflow: auto;
  padding: 10px;
}

.hidden {
  visibility: hidden;
}

/* .app {
  display: grid;
  grid-template-rows: 3fr 1fr 8fr 8fr 1fr;
  grid-template-columns: 1fr 3fr 1fr;
  height: 100vh;
  grid-gap: 8px;
}  */

.user-modal {
  display: block;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.user-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.user-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.user-close:hover,
.user-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;


}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  background-color: white;
}

.error-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  position: relative;
}

.error-div img {
  padding: 20px;
  text-align: center;
  width: auto;
  max-height: 100vh;
  height: 100%;
}

.error-div h1 {
  padding: 20px;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  font-size: 48px;
}

.leaderboard p {
  display: inline;
  flex-grow: 1;
  margin-left: 5px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: 5px;
}

.leaderboard li {
  /* display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: rgb(197, 108, 57);
  margin-top: 3px;
  margin-bottom: 3px;
  border-radius: 5px;
  padding: 0px; */
}

.footer {
  background-color: #354a20;
  border-radius: 0px;
}

.game-info {
  font-family: 'Bahianita', sans-serif;
}

.game-info h2{
  margin-bottom: 10px;
}

.user-stat {
  display: flex;
  justify-content: space-between;
  padding-left: 3px;
  padding-right: 3px;
  font-size: 1.2rem;
  background: rgb(197, 108, 57);
  margin-top: 2px;
  margin-bottom: 2px;
  border-radius: 5px;
  max-height: 58px;
}

.rules {
  margin-left: 5%;
  margin-right: 5%;
  text-align: center;
  background: rgb(197, 108, 57);
  color: white;
}

.rules-p {
  background-color: white;
  color: black;
  padding: 8px;
  border-radius: 5px;
  margin-left: 5%;
  margin-right: 5%;
}


.footer {
  background-color: #354a20;
  border-radius: 0px;
}

.point-container {
  margin-right: 100px;
}

.game button {
  margin: 10px;
}

.user-form {
  color: black;
  display: flex;
  justify-content: center;
  margin-right: 25px;
}

.book button {
  background-color: #A9A9A9;
  font-weight: 400;
  font-family: 'Open Sans', serif;
  color: white;
  font-size: 12px;
  /* Adjust the font size as needed */
  border-radius: 10px;
  /* Adds rounded edges */
  padding: 5px 15px;
  /* Adjust padding to control button size */
  /* margin-right: 10px; */
  /* Add spacing between buttons */
  margin-top: 0;
  margin-right: 2px;
}

.game button {
  background-color: #A9A9A9;
  font-weight: 400;
  font-family: 'Open Sans', serif;
  color: white;
  font-size: 12px;
  /* Adjust the font size as needed */
  border-radius: 10px;
  /* Adds rounded edges */
  padding: 5px 15px;
  /* Adjust padding to control button size */
  /* margin-right: 10px; */
  /* Add spacing between buttons */
  margin-top: 10px;
  margin-right: 2px;
}

button:hover {
  background-color: #333; /* Darker gray on hover */
}
