.wrapper {
    display: grid;
    grid-template-rows: 3fr 2fr 14fr 10fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    height: 100vh;
    grid-gap: 20px;
}

.header {
    display: flex;
    grid-area: 1/1/2/4;
    height: 10vh;
    align-items: center;
    margin-top: 10px;
}

.game-info {
    display: flex;
    grid-area: 2/1/5/2;
    height: 85vh;
    border: 3px solid black;
    margin-left: 10px;
}

.nav-buttons {
    display: flex;
    grid-area: 2/2/3/3;
    height: 6vh;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-evenly;
}

.main-container {
    display: flex;
    grid-area: 3/2/4/3;
    height: 74vh;
    border: 3px solid black;
}

.carousel {
    display: flex;
    grid-area: 2/3/5/4;
    height: 85vh;
    border: 3px solid black;
}

.footer {
    display: flex;
    grid-area: 4/1/5/4;
    height: 3vh;
    border: 3px solid black;
}

.title-container {
    display: flex;
    flex-direction: row;
}

.nps-logo {
    display: flex;
    max-height: 80px;
    margin: 10px;
}

.title {
    display: flex;
    margin-left: 10px;
}

.point-container {
    display: inherit;
    margin-left: auto;
    margin-right: 10px;
}

.nav-buttons button {
    display: inherit;
    width: 30%;
    font-size: large;
    justify-content: center;
    align-items: center;
}

.book {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.search-form {
    display: inherit;
    flex-direction: column;
    height: 100%;
    display: inherit;
    flex-direction: column;
    height: 150px;
}

.search-list-sort {
    display: inherit;
    flex-direction: row;
    height: 50%;
}

.search-list-sort div {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.search-list-sort input, select {
    display: block;
    margin: 5px;
    width: 75%
}

.search-list-sort label {
    margin-right: auto;
    margin-left: 10px;
}

.filters label {
    display: inherit;
    margin-right: auto;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.filters-container {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.filters-container label {
    width: 20%;
}


.book-bottom {
    display: inherit;
}
.park-list {
    display: inherit;
    flex-grow: 1;
}

.park-article {
    display: inherit;
    flex-grow: 1;
}